.footer {
  background-color: #f5f5f5;
  color: #333333;
  padding: 2rem 0 1rem 0;
  font-family: 'Arial', sans-serif;
  margin-top: 0rem;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
}

.brandInfo {
  flex: 1;
  min-width: 300px;
  margin-bottom: 1rem;
}

.logoImage {
  height: 80px;
  width: auto;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.brandInfo p {
  color: #666666;
  line-height: 1.4;
  margin-top: 0.5rem;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  gap: 1.5rem;
  justify-content: space-between;
}

.linksColumn {
  min-width: 150px;
  margin-bottom: 1rem;
}

.linksColumn h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #7a7a7a;
  font-weight: 600;
}

.linksColumn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksColumn li {
  margin-bottom: 0.3rem;
}

.linksColumn a {
  color: #868686;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.9rem;
}

.footerMediaIcon {
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  border-top: 1px solid #ddd;
  margin: 1rem 2rem 0 2rem;
}

.footerMediaIcon a {
  display: inline-block;
  margin: 0 1rem;
  transition: transform 0.3s ease;
}

.footerMediaIcon a:hover {
  transform: scale(1.1);
}

.footerMediaIcon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.footerMediaIcon img:hover {
  filter: brightness(1);
}

.footerBottom {
  text-align: center;
  color: #666666;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.footerBottomText {
  background-color: rgba(20, 20, 20, 0.05);
  padding: 0.75rem;
 
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .linksColumn {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .brandInfo {
    text-align: center;
    min-width: auto;
  }

  .footerMediaIcon {
    padding: 1rem 0;
    margin: 1rem 0 0 0;
  }
}